<?xml version="1.0"?>
<wayfire>
  <plugin name="trigger">
    <_short>Trigger</_short>
    <_long>
      This plugin triggers the execution of a command or signal on a binding activation (key, button, or touch).
    </_long>
    <category>Control</category>
    <group>
      <_short>Trigger</_short>
      <_long>Defines the trigger bindings.</_long>
      <option name="trigger" type="dynamic_list">
        <_short>Trigger</_short>
        <_long>Defines the trigger binding.</_long>
        <type>string</type>
        <hint>file</hint>
      </option>
    </group>
  </plugin>
</wayfire>

